nav{
    background-color: white;
}
#logo{
    position: absolute;
    left: 7%;
    top: 1%;
}
#barra{
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 50;
    font-size: 2vw;
}
.fondoAdd{
    background-color:#DEE1E3;
}
.sweet{
    left: 35%;
    position: absolute;
    top: 15%;
}
.texto{
    left: 16%;
    position: relative;
}
.texto2{
    left:45%;
    position:relative;
}
.texto3{
    left:5%;
    position:relative;
}
.tabla{
    margin-left:3%;
    width:95%;
    margin-top:-2%;
}
.showP{
    margin-top:1%;
    margin-left:10%;
    width: 100%;
}
.borde{
   border-block-start: #E76E39 5px solid;

}
.fondoP{
    background-color: #C1D0DE;
}
.mov{
    margin-left:82.4%;
}
.mov2{
    margin-left:90%;
}
